
  
  .profile_content {
    background: url('./img/bf-menu.jpg') no-repeat center;
  background-size: cover;
  opacity: 0.6;
  border-radius: 10px;
  
  }
  .profile_content {
  margin: 10px;
  padding-bottom: 10px;
  }