 
.my_posts {
  width: 97%;
  box-sizing: border-box;
  background-color: #167194;
  opacity: 0.6;
  border-radius: 5px;
  margin: auto;
  padding: 10px;
  color: black;
}
.add_new_post {
  padding-top: 20px;
  margin: 5px;
}
.newPost {
  width: 70%;
  padding: 5px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}